attr==0.3.1
boto3==1.22.9
CairoSVG==2.5.2
Click==7.0
crowdai_api==0.1.22
graphviz==0.20
gym==0.23.1
importlib_resources==5.7.1
ipycanvas==0.12.0
ipython==8.3.0
ipywidgets==7.7.0
matplotlib==3.5.2
msgpack_numpy==0.4.7.1
msgpack_python==0.5.6
networkx==2.8
numpy==1.22.3
pandas==1.4.2
Pillow==9.1.0
psutil==5.9.0
pyglet==1.5.23
pytest==7.1.2
recordtype==1.3
redis==4.3.0
setuptools==45.2.0
svgutils==0.3.4
timeout_decorator==0.5.0
torch==1.11.0
tqdm==4.64.0
wandb==0.12.16
tensorboard
python-xlib
